@media (max-width:575px) {
    .card {
        margin: 0 auto;
        margin-bottom: 50px;
    }

    .logoNav img{
        width: 100px;
    }
    .nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav1{
        width: calc(30%);
    }
    .nav2 {
        width: calc(50%);
    }
    
    .slide1Txt{
        padding-top: calc(45%);
    }
    .slide1Txt h1{
        font-size: 30px;
    }
    .slide1Txt p {
        font-size: 12px;
    }
    .principalTxt p {
        font-size: 30px;
    }
    .parrafo p {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: rgb(31, 31, 31);
    }
    .parrafo {
        margin: 0px;
    }
    .section3Txt{
        width: calc(100%);
        align-items: center;
        justify-content: center;
    }
    .section3Txt p{
        
        font-size: 16px;
    }

    .card-details p{
        font-size: 14px;
    }

    .leftPart{
        display: none;
    }

    .section4{
        justify-content: center;
    }
    .section4Txt p{
        font-size: 21px;
    }

    .containerForm{
        width: 100%;
    }
    .formIlustration{
        width: calc(100%);
    }


    /* FOOTER */

    .ubicacion p{
        font-size: 12px;
    }

   .card{
        width: 150px;
        height: 200px;
   }


}