body p{
    font-size: 3rem;
}
.botonP button{
    margin-top: calc(40%);
    display: grid;
    place-items: center;
    width: 100%;
}
/* ---------BOTTOM---------- */

.btn2 {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 0.3s;
}

.btn2::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - -2px);
    background-color: #fed353;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 50px); 
    background-color: #fed353;
    transition: 0.3s ease-out;
    transform: scaleY(1);
}

.btn2:hover::before {
    transform: translateY(-25px);
    height: 0;
}

.btn2:hover::after {
    transform: scaleX(0);
    transition-delay: 0.15s;
}

.btn2:hover {
    color: #fefefe;
    border: 2px solid #fefefe;
}

.btn2 span {
    position: relative;
    z-index: 3;
}

button {
    text-decoration: none;
    border: none;
    background-color: transparent;
}


.wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.custom-shape-divider-top-1698343021 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

}

.custom-shape-divider-top-1698343021 svg {
    position: relative;
    display: block;
    width: calc(219% + 1.3px);
    height: 500px;
    
}

.custom-shape-divider-top-1698343021 .shape-fill {
    fill: #9c0e0e;
    
}

/* --------PARALLAX------- */

.parallax {
    position: relative;
    height: 850px;
    overflow: hidden;
}

.montana-fondo,
.montana-frente,
.capa-texto {
    position: absolute;
    left: 0;
    right: 0;
}

.montana-fondo {
    background-image: url('../IMG/backImg.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 850px;
}

.capa-texto {
    text-align: center;
    padding: 100px 0;
    z-index: 1;
}

.capa-texto p{
    font-size: 2rem;
    color: #fff;
}

.montana-frente {
    background-image: url('../IMG/frontImg1.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 850px;
    z-index: 2;
}

.degradado{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-size: 8rem;
    color: #fff;
}


.section2{
    height: 100vh;
    background-color: #fed353;
}


.orangeBackground{
    height: 250px;
    background-color: #fed353;
    margin-top: -200px;
}

.txt1section2 p{
    font-size: 1.5rem;
    color: #fff;
}
.txt2section2 p{
    color: #fff;
}

.section3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.caracteristicSection3{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    height: calc(250px);
    width: 1200px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 15px 17px rgba(0, 0, 0, 0.1);
}

.iconosTXTsection3 p{
    font-size: 1.5rem;
}

.iconSection3{
    padding-top: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.section4 {
    height: 100vh;
}
.section4Txt{
    display: grid;
    place-items: center;
    padding: 100px;
}

.video{
    display: grid;
    place-items: center;
    height: 70vh;
}
.textVideo p{
    font-size: 1.5rem;
    color: #fff;
}
.subTxtSection4 p{
    font-size: 1.5rem;
    color: black;
}

.section5{
    padding: 100px;
}

.txt1Section5{
    padding-left: calc(30px);
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.cardsSection5{
    justify-content: center;
    display: flex;
    align-items: center;
}

/* ------CARDS------- */

.myCard {
    margin: 50px;
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
    
}

.title {
    font-size: 1.3rem;
    padding: 1rem;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: rgb(4, 4, 4);
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.3);
    
}

.cardtxt p{
    font-size: 1.2rem;
    font-weight: 500;
}

.frontSide img{
    width: 180px;
}

.frontSide,
.frontSide::before {
    background: white;
    box-shadow: -4px 6px 43px 28px rgba(0, 0, 0, 0.1);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #fed353 0%, #d3a311 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

/* --------------------section6------------------ */

.imgFondoSection6{
    background-image: url(../IMG/contactoBack.jpg);
    background-size: cover;
    background-position: center;
    height: calc(120vh);
}

.txt1Section6 p{
    padding-top: 5rem;
    margin-left: 5rem;
    color: white;
}
.txt2Section6 p{
    margin-left: 5rem;
    color: white;
    font-size: 1.5rem;
}

.formSection6{
    margin-left: 3rem;
}


/* -----FORM------- */

.orange {
    color: #ff7a01;
}

.form-container {
    max-width: 700px;
    margin: 30px;
    background-color: transparent;
    backdrop-filter: blur(30px);
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.heading {
    display: block;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 20px;
}

.form-container .form .input {
    color: #87a4b6;
    width: 100%;
    background-color: #002733;
    border: none;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid transparent;
}

.form-container .form .input:focus {
    border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #013747;
    color: #ff7a01;
    font-weight: bold;
    resize: none;
    max-height: 150px;
    margin-bottom: 20px;
    border-left: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
    border-left: 5px solid #ff7a01;
}

.form-container .form .button-container {
    display: flex;
    gap: 10px;
}

.form-container .form .button-container .send-button {
    flex-basis: 70%;
    background: #ff7a01;
    padding: 10px;
    color: #001925;
    text-align: center;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
    background: transparent;
    border: 1px solid #ff7a01;
    color: #ff7a01;
}

.form-container .form .button-container .reset-button-container {
    filter: drop-shadow(1px 1px 0px #ff7a01);
    flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
    position: relative;
    text-align: center;
    padding: 10px;
    color: #ff7a01;
    font-weight: bold;
    background: #001925;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
    transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .reset-button-container .reset-button:hover {
    background: #ff7a01;
    color: #001925;
}

/* .section7{
   height: calc(100vh);
    
} */

.mapsIlustration {
    width: calc(50%);
   
}

.mapsIlustration img{
    width: calc(400px);
    margin-bottom: 100px;
    margin-top: 100px;
}

.txt1section7{
    height: calc(90vh);
    background-color: #fed353;
}

.txt2section7 {
    padding-top: 10rem;
    width: calc(50%);
    place-items: center;
    justify-content: center;
}

.txt2section7 p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.txt3section7 p{
    color: rgb(255, 255, 255);
    font-size: 3rem;
}

#map {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

/* --------FOOTER-------------- */

.clitpathFooter{
    margin-top: -300px;
}

.infoFooter{
    height: calc(100%);
    margin-top: -100px;
    background-color: #001925;
}

.imgFooter img {
    
    margin: 30px;
}

.imgFooter img{
    width: calc(60px);
}
.imgFooter p{
    color: whitesmoke;
    font-size: 1rem;
}
.contactFooter{
    margin: 50px;    
}

.contactFooter p{
    color: whitesmoke;
    font-size: 1rem;
}

.txtCopy p{
    color: whitesmoke;
    font-size: 1rem;
}
.txtCopy{
    margin-top: 9%;
}
.socialButton{
    margin: 50px;
}

.socialButton{
    margin-top: 5%;
}

/* -------iconos---------- */

.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    border-radius: 5em;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
}

.social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
    transition: 0.3s;
    height: 20px;
}

.facebook {
    background-color: #3b5998;
}

.facebook svg {
    fill: #f2f2f2;
}

.facebook:hover svg {
    fill: #3b5998;
}

.github {
    background-color: #333;
}

.github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
}

.github:hover svg {
    fill: #333;
}

.linkedin {
    background-color: #0077b5;
}

.linkedin svg {
    fill: #f2f2f2;
}

.linkedin:hover svg {
    fill: #0077b5;
}

.instagram {
    background-color: #c13584;
}

.instagram svg {
    fill: #f2f2f2;
}

.instagram:hover svg {
    fill: #c13584;
}

/* ------WHATSAPP BUTTON--------- */

.container-botonws {
    /*color de fondo imagen*/
    background-color: transparent;

    position: fixed;
    z-index: 1000;
    border-radius: 50%;
    bottom: 20px;
    right: 25px;
    padding: 5px;
    transition: ease 0.3s;
    animation: flotar 5s infinite;
}

.botonws {
    position: relative;
    animation: flotar 5s ease-in-out infinite;
}

@keyframes flotar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}