@media (max-width:767px) {
    .capa-texto h1{
        font-size: 50px;

    }
    .capa-texto p {
        font-size: 25px;

    }

    .botonP button {
        margin-top: calc(100%);
        display: grid;
        place-items: center;
        width: 100%;
    }

    .txt2section2 p{
        font-size: 32px;
    }
    .txt1section2 p {
        font-size: 16px;
    }

    .caracteristicSection3{
        height: calc(100vh);
    }

    .section4Txt{
        padding: 50px;
    }

    .section4Txt p{
        font-size: 32px;
    }

    .subTxtSection4 p{
        font-size: 16px;
    }

    .txt1Section5 p{
        font-size: 32px;
    }

    .myCard {
        margin: 10px;
        height: 350px;
    }

    .frontSide img {
        width: 100px;
    }

    .backSide p{
        font-size: 16px;
    }

    .txt1Section6 p{
        padding-top: 2.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 32px;
    }

    .txt2Section6 p{
        font-size: 16px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .responsiveSection6{
  
        align-items: center;
        justify-content: center;
    }

    .formSection6 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .imgFondoSection6{
        height: calc(110vh);
    }

    .txt2section7 p{
        font-size: 16px;
    }

    .txt3section7 p {

        font-size: 32px;
    }

    .txt1section7 {
        height: calc(100vh);
        background-color: #fed353;
    }

    .mapsIlustration {
        width: calc(100%);
    
    }
    
    .mapsIlustration img {
        width: calc(250px);
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .txt2section7 {
        padding-top: 5rem;
        width: calc(100%);
        place-items: center;
        justify-content: center;
    }

    .clitpathFooter {
        display: none;
    }

    .infoFooter {
        height: calc(100%);
        margin-top: 0px;
        background-color: #001925;
    }


    .imgFooter {
        width: calc(100%);
        text-align: center;
        margin: 20px;
    }

    .imgFooter img {
        margin: 5px;
        width: calc(32px);
    }

    .imgFooter p {
        font-size: 12px;
    }

    .contactFooter {
        width: calc(100%);
        padding-left: calc(10%);
        margin: 10px;
    }

    .contactFooter p {
        color: whitesmoke;
        font-size: 12px;
    }

    .txtCopy p {
        font-size: 12px;
    }

    .txtCopy {
        width: calc(100%);
        text-align: center;
        margin: 10px;
    }

    .container-botonws img{
        width: 60px;
    }


}